
<div class="clear-fix"></div>

<div class="secondrow" style="padding-top:20px; padding-left:100px;padding-right:100px;">
     <h1 style="font-size:large">大件运输</h1>
    <p>
        
            天津市西青区从新配货站主要承运各类大型、特种物件，以及承担工业搬场业务，
        拥有承运单件重量1800吨以内各载重吨级的大件运输平板车组和各种大吨位起重吊机，
        适应各种大型设备和物资的运输、吊装和就位要求。可承接超长、超宽 、超重,、超大型设备和机械的运输业务。
        以优惠的价格、优质的服务为客户服务，为厂方为运输单位牵线搭桥 ；以优质的服务谋求企业的发展； 
        以合理的价格应对市场竞争，是本企业发展之道。 
    </p>
   
    <table id="bigscaleTable" border="0" cellspacing="0" cellpadding="0" width="90%" align="center">
        <tbody>
            <tr>
                <td>
                     <img src="@Url.Content("~/Images/largescale/1.jpg")" />
                </td>
                <td>
                    <img src="@Url.Content("~/Images/largescale/2.jpg")" />
                </td>
                <td>
                     <img src="@Url.Content("~/Images/largescale/3.jpg")" />
                </td>
            </tr>
            <tr>
                <td height="33" colspan="3"></td>
            </tr>
            <tr>
                <td>
                     <img src="@Url.Content("~/Images/largescale/4.jpg")" />
                </td>
                <td>
                    <img src="@Url.Content("~/Images/largescale/5.jpg")" />
                </td>
                <td>
                     <img src="@Url.Content("~/Images/largescale/6.jpg")" />
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

